<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="AppVeyor" connectionString="Server=(local)\SQL2014;Database=master;UID=sa;PWD=Password12!" providerName="System.Data.SqlClient"/>
    <add name="LocalHost" connectionString="Server=localhost;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
